.sales-overview {
    flex-basis: 100%;
    background-color: white;
    margin-top: 40px;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.sales-overview > div:nth-child(2) {
    border-right: #9f9d9d61 1px solid;
}

.sales-overview-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
    border-bottom: #9f9d9d61 1px solid;
    padding: 24px;
}

.sales-overview-main p:nth-child(3) {
    flex-basis: 100%;
    color: #606060;
    text-align: left;
    margin-bottom: 0;
}

.sales-data {
    display: flex;
    align-items: center;
}

.sales-data svg {
    color: #3eb1eb;
    margin-right: 8px;
}

.sales-data h3 {
    color: #606060;
    margin-top: 0;
    margin-bottom: 0;
}

.sales-info svg {
    color: #bfbbbb;
}

.sales-overview-percentage {
    width: 50%;
    max-width: 50%;
    padding: 24px;
}

.percentage-number {
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 0;
    color: #22ab55;
    font-weight: bold;
    text-align: left;
}

.percentage-description {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: #9f9d9d;
    font-weight: bold;
}

@media (max-width: 670px) {
    .sales-overview-percentage {
        width: 100%;
        max-width: 100%;
    }

    .sales-overview > div:nth-child(2) {
        border-right: none;
        border-bottom: #9f9d9d61 1px solid;
    }
}